body { 
    width: 100rem;
    height: 100%;
    margin: auto auto;
    padding-top: 10rem;
    padding-left: auto;
    border-radius: 4rem;
    border: 3px  #ededef;
    display: flex;
    background-color: linear-gradient(#4ef345,#eff9ef);

}

html {

}
h1 {
    color: rgba(107, 106, 106, 0.325);
    font-size: 20px;
    text-align: left;
    
}

h2 {
    text-align: center;
    font-size: 100px;


}

p {
text-align: center;
font-family: inherit;
font-size: xx-large;

}
 .i {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: rgb(176, 253, 212);
}
.image-container{
    max-width: 100%;

    
}
 button {
    text-align: center;
    background-color: rgb(3, 149, 149);
    color: rgb(245, 242, 242);
    cursor: pointer; 
    font-size: 2rem;
    border-radius: 3px solid black;
    margin: 0 auto;
    font-weight: bold;
 }
button:hover{
    color: rgb(31, 29, 29);
    text-transform: capitalize;
}
.price {
    color: rgb(27, 151, 51);
    font-size: 65px;
}